.box-in {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
    padding: 1rem;
}
.box2{
    width: 44rem;
}
input,
select {
    border-radius: 6px;
    padding-left: 1rem;
    height: 3rem;
}

input:focus,
select:focus {
    box-shadow: 0 0 10px #3b9aff;
}

a {
    text-decoration: none !important;
}

.display-flex {
    display: flex;
}

.heading-assign-exam {
    text-align: center;
    margin: 2rem 0 1rem;
}

.title-of-assign input {
    width: 60rem;
    height: 2.6rem;
}

.input-section-exam,
.third-input,
.forth-input {
    display: flex;
    align-items: center;
    margin-left: 3rem;
    margin-top: 2rem;
}

.input-section-exam {
    margin-top: 3rem;
}

.input-section-exam .first-input select,
.input-section-exam .second-input select,
.third-input input,
.forth-input input {
    width: 22rem;
    margin-right: 4rem;
}

label {
    margin-bottom: 0.6rem;
    display: block;
}

.third-input label {
    margin-top: 2rem;
}

.exam-list-of-assign {
    width: 100%;
}

.heading-of-exam {
    margin: 1rem 0 2rem;
    text-align: center;
}

.exam-list-input {
    display: flex;
}

.exam-list-input select {
    width: 22rem;
}

.select-class-for-list {
    margin: 0 4rem 0 3rem;
}

.button-fiter button {
    width: 10rem;
    height: 3rem;
    background-color: black;
    color: white;
    border: none;
    margin: 2.1rem 0 0 5rem;
    border-radius: 6px;
}
.button-fiter button:hover{
    background-color: #323232;
}
.center-line {
    border: none;
    width: 100%;
    height: 4px;
    background-color: black;
    margin-top: 3rem;
}

.table-of-exam-list {
    margin-top: 4rem;
}

.table-of-exam-list table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
}

th,
td {
    border: 1px solid #2f2f2f;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #000000;
    color: #f7f7f7;
}

tr:nth-child(even) {
    background-color: #c3ff9c;
}

tr:hover {
    background-color: #3a868f;
}

.action-width {
    width: 290px;
}

.submit-button-of-assign-exam button {
    padding: 12px 25px;
    border-radius: 6px;
    font-size: 1.4rem;
    background-color: black;
    color: white;
    border: none;
    margin: 3rem 0 0 3rem;
}

.submit-button-of-assign-exam button:hover {
    background-color: #323232;
}
