* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
::-webkit-scrollbar{
    width: 0;
}
/* Define CSS variables in the :root selector */
:root {
    --background-color: #f4feff;
    --box-bg-color: rgb(239, 254, 255);
    --text-color: black;
    --hover-bg-color: #f0f0f0;
    --link-hover-color: black;
}

body {
    background-color: var(--background-color);
}

.main {
    width: 100%;
    /* height: 100%; */
    display: flex;
    background-color: var(--background-color);
}

/* ------------------------------Box 1 ----------------------- */
.box1-logo {
    border-right: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
    height: 10rem;
}

.left-box-inner {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-left: 2.8rem;
    height: 100%;    
    border-right: 1px solid var(--text-color);
    border-top: hidden;
    background-color: var(--background-color);
}

.text-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 155px;
    height: 40px;
    border: 1px solid var(--text-color);
    background-color: var(--box-bg-color);
    border-radius: 5px;
    margin-bottom: 2rem;
}

.text-box:hover {
    background-color: var(--hover-bg-color);
}

.text-box a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 155px;
    height: 40px;
    border-radius: 17px;
    text-decoration: none;
    color: var(--text-color);
}

.text-box a:hover {
    color: var(--link-hover-color);
}

.main .box1 {
    width: 20%;
}

.main .box1 .box1-logo img {
    margin: 30px 0 0 85px;
    width: 90px;
}

.right-box {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
}

/* ------------------------------Box 2 ----------------------- */
.right-box .box2 {
    background-color: var(--background-color);
}

/* ------------------------------Box 3 ----------------------- */
.right-box .box3 {
    overflow: scroll;
    overflow-x: hidden;
    width: 78rem;
    margin: 1rem;
    background: var(--box-bg-color);
}

.center-line{
    width: 100%;
    height: 100%;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.front-preview{
    width: 100%;
    height: 100%;
    background-color: rgb(175, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.front-preview .dashboard-front-img img{
    width: 300px;
    margin-right: 4rem;
}

.front-preview .dashboard-front-text span{
    display: flex;
    align-items: center;
}

.front-preview{
    display: none;
}